/* Coolors Exported Palette - coolors.co/e0fbfc-c2dfe3-9db4c0-5c6b73-253237 */

/* HSL */
$color1: hsla(182%, 82%, 93%, 1);
$color2: hsla(187%, 37%, 83%, 1);
$color3: hsla(201%, 22%, 68%, 1);
$color4: hsla(201%, 11%, 41%, 1);
$color5: hsla(197%, 20%, 18%, 1);

/* RGB */
$color1: rgba(224, 251, 252, 1);
$color2: rgba(194, 223, 227, 1);
$color3: rgba(157, 180, 192, 1);
$color4: rgba(92, 107, 115, 1);
$color5: rgba(37, 50, 55, 1);